<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<!--<button class="btn btn-lg btn-color-white gradient-violet ">-->
<!--    Next-->
<!--</button>-->
<!--<button class="btn btn-lg btn-regress">-->
<!--    Back-->
<!--</button>-->
<!--<button class="btn btn-md btn-bg-option">-->
<!--    Right now-->
<!--</button>-->
<!--<button class="btn gradient-violet btn-lg"></button>-->

<div class="page">
    <div class="header">
        <p class="logo">
            digg
        </p>
        <div class="range-cover">
            <span>Progress</span>
            <div class="range">
                <div class="gradient-range gradient-violet">
                </div>
            </div>
        </div>
    </div>



    <p class="page__desc">Have you ever visited Dubai?</p>
    <div class="btn-option-cover">
        <button class="btn btn-option">Yes</button>
        <button class="btn btn-option">No</button>
    </div>
    <p class="page__desc-margin page__desc"> Do you have any friends or family in Dubai?</p>


    <div class="btn-option-cover">
        <button class="btn btn-option ">Yes</button>
        <button class="btn btn-option ">No</button>
    </div>

    <p class="page__desc-margin page__desc">How long do you want to stay in stay in Dubai?</p>
    <div class="btn-option-cover">
        <button class="btn btn-option">Upto 3 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">+3 years</button>
    </div>
    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>
</div>









<div class="page">
    <p class="page__desc">How long do you want to stay in stay in Dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">Lifestyle</button>
        <button class="btn btn-option">Work opportunities</button>
        <button class="btn btn-option">Education</button>
        <button class="btn btn-option">Finance</button>
        <button class="btn btn-option">Tourism</button>
        <button class="btn btn-option">Family</button>
        <button class="btn btn-option">Business</button>

        <button class="btn btn-option">Security</button>
        <button class="btn btn-option">The weather</button>
        <button class="btn btn-option">Meeting new people</button>
        <button class="btn btn-option">Culture</button>
    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>



<div class="page">
    <p class="page__desc">How long do you want to stay in stay in Dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">Construction</button>
        <button class="btn btn-option">Hospitality</button>
        <button class="btn btn-option">Real estate</button>
        <button class="btn btn-option">Tourism</button>
        <button class="btn btn-option">Manufacturing</button>
        <button class="btn btn-option">Technology</button>
        <button class="btn btn-option">Media</button>

        <button class="btn btn-option">Farming</button>
        <button class="btn btn-option">Fishing</button>
        <button class="btn btn-option">Education</button>
        <button class="btn btn-option">Public services</button>
        <button class="btn btn-option">Administration</button>
        <button class="btn btn-option">Financial services</button>
        <button class="btn btn-option">Legal</button>


        <button class="btn btn-option">Health care</button>
        <button class="btn btn-option">Government </button>
        <button class="btn btn-option">Medical</button>
        <button class="btn btn-option">Security</button>
        <button class="btn btn-option">Logistics</button>
        <button class="btn btn-option">Robotics</button>
        <button class="btn btn-option">Fashion</button>
        <button class="btn btn-option">Automotive</button>
        <button class="btn btn-option">Transportation</button>
        <button class="btn btn-option">Customer support</button>


    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>




<div class="page">
    <p class="page__desc">How long do you want to stay in stay in Dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">Upto 3 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">+3 years</button>
        <button class="btn btn-option">+3 years</button>
        <button class="btn btn-option">+3 years</button>
        <button class="btn btn-option">+3 years</button>

        <button class="btn btn-option">Upto 3 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">+12 months</button>


        <button class="btn btn-option">Upto 3 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">+12 months</button>

        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">+12 months</button>


    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>



<div class="page">
    <p class="page__desc">How long do you want to stay in stay in Dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">Upto 3 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>
        <button class="btn btn-option">+3 years</button>


        <button class="btn btn-option">Upto 3 months</button>
        <button class="btn btn-option">3 to 6 months</button>






    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>




<div class="page">
    <p class="page__desc">How long do you want to stay in stay in Dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">Upto 3 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>







    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>




<div class="page">
    <p class="page__desc">How long do you want to stay in stay in Dubai?</p>

    <div class="btn-option-cover">
        <button class="btn btn-option">Upto 3 months</button>
        <button class="btn btn-option">3 to 6 months</button>
        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>

        <button class="btn btn-option">6 to 12 months</button>
        <button class="btn btn-option">+12 months</button>





    </div>

    <div class="btn-progress-cover">
        <button class="btn btn-lg btn-regress">Back</button>
        <button class="btn btn-lg gradient-violet">Next</button>
    </div>

</div>



</body>
</html>